$night: #0d54d0;
$dawn: #1c80e5;
$sunrise: #ffde63;
$morning: #a4c9f5;
$afternoon: #89bbef;
$evening: #70afef;
$sunset: #ea5b6f;
// $skyBlue: #8CA9FF; /* i really like these so i'll see if i can sneak them in*/
// $afternoon: #799EFF; /* i really like these so i'll see if i can sneak them in*/
// $clear: #FA5C5C;



* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $afternoon;
    transition: background-color 10s ease-in-out;
}

.night {
    background-color: $night;
}

.dawn {
    background-color: $dawn;
}

.sunrise {
    background: linear-gradient($morning, $sunrise);
}

.morning {
    background-color: $morning;
}

.afternoon {
    background-color: $afternoon;
}

.evening {
    background: linear-gradient($afternoon, $evening);
}

.sunset {
    background: linear-gradient($evening, $sunset);
}

#nav ul {
    display: flex;
    & li {
        padding-left: 20px;
        list-style: none;
    }
}

#whole-background{
    width: 100%;
    height: 100%;
}

#test {
    // fill: hotpink;
    // color: hotpink;
    // // background-color: hotpink;
    // background: hotpink;
    :hover{
        fill: hotpink;
        background-color: hotpink;
    }
}

.background {
    position: relative;
    height: 200vh;
    width: 100%;
    // overflow: hidden;
    // bottom: 0;
    // top: 100vh;
    &__sky {
        &--images {
            position: absolute;
            top: 5%;
            left: 0;
            width: 100%;
        }
    }
    &__ground {
        &--images {
            position: absolute;
            left: 0;
            bottom: 0vh;
            width: 100%;
            height: auto;
        }
    }

}